#battle-screen{
display:none;
}

.card-electric{
background:linear-gradient(145deg,#ffd900,#d4b200);
color:black;
}

.card-fire{
background:linear-gradient(145deg,#ff5a2a,#b83a1b);
}

.card-water{
background:linear-gradient(145deg,#4da6ff,#1c6fd1);
}

.card-grass{
background:linear-gradient(145deg,#6edc6e,#2f9e2f);
}

.card-poison{
background:linear-gradient(145deg,#9c4bd6,#6b2a8a);
}

body{
font-family: Arial;
background:#0c0c0c;
color:white;
text-align:center;
margin:0;
padding:10px;
}

#hand{
position:fixed;
bottom:10px;
left:0;
right:0;
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
}

.card{
width:120px;
height:160px;
background:#222;
border-radius:12px;
padding:10px;
cursor:pointer;

display:flex;
flex-direction:column;
justify-content:space-between;

transition:0.2s;
box-shadow:0 6px 14px rgba(0,0,0,0.6);
}

.card:hover{
transform:translateY(-15px) scale(1.08);
background:#333;
}

.card-disabled{
opacity:0.35;
cursor:not-allowed;
filter:grayscale(70%);
}

.card-no-energy{
border:2px solid #ff4444;
}

.card-name{
font-weight:bold;
font-size:14px;
}

.card-cost{
font-size:12px;
color:#ccc;
}

.card-damage{
font-size:18px;
font-weight:bold;
}



#map{
display:grid;
grid-template-columns:repeat(3,60px);
gap:20px;
justify-content:center;
}

.node{
width:50px;
height:50px;
background:#333;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:22px;
color:white;
cursor:pointer;
transition:0.2s;
}

.node:hover{
transform:scale(1.2);
background:#555;
}

.node-active{
background:#777;
box-shadow:0 0 10px #fff3;
}

#battle-log{
max-width:600px;
margin:10px auto;
padding:8px;

border-radius:8px;

height:120px;
overflow-y:auto;

text-align:left;
font-size:14px;
}

#battle-log div{
margin-bottom:4px;
opacity:0.9;
}

.log-attack{
color:#ffcc00;
}

.log-damage{
color:#ff5555;
}

.log-poison{
color:#c06bff;
}

.log-burn{
color:#ff8844;
}

.log-defense{
color:#66aaff;
}